/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.0.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --transparent-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --button-color: #188ce8;
  --icon-color: #afb1b8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --social-link-bg-color: rgba(255, 255, 255, 0.1);
  --font-weight-middle: 500;
  --font-weight-bold: 700;
  --title-font-size: 16px;
  --project-overlay-color: rgba(33, 150, 243, 0.9);
  --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.card-set-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* oi-regular - latin */
@font-face {
  font-family: 'Oi';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oi-v1-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/oi-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oi-v1-latin-regular.woff2") format("woff2"), url("../fonts/oi-v1-latin-regular.woff") format("woff"), url("../fonts/oi-v1-latin-regular.ttf") format("truetype"), url("../fonts/oi-v1-latin-regular.svg#Oi") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  color: var(--title-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 1.192;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  color: var(--logo-color);
}

.header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer .logo {
  margin-bottom: 20px;
}

.logo--text-contrast {
  color: var(--secondary-text-color);
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__item {
  width: 44px;
  height: 44px;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  border-radius: 50%;
}

.social-networks__link:focus, .social-networks__link:hover {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
  outline: none;
}

.footer-social .social-networks__link {
  background-color: var(--social-link-bg-color);
  fill: var(--secondary-text-color);
}

.footer-social .social-networks__link:focus, .footer-social .social-networks__link:hover {
  background-color: var(--accent-color);
}

.hero {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--dark-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/home-page/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home-page/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.364;
  font-weight: 900;
  font-size: 44px;
  color: var(--secondary-text-color);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.03em;
  line-height: 1.167;
}

.button {
  border: none;
  font-size: var(--title-font-size);
  cursor: pointer;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.basic-button {
  min-width: 200px;
  min-height: 50px;
  font-weight: var(--font-weight-bold);
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.basic-button:focus, .basic-button:hover {
  background-color: var(--button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.modal__close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
}

.modal__close-button:focus, .modal__close-button:hover {
  fill: var(--accent-color);
  outline: none;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal .paragraph {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.feedback-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.feedback-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.feedback-form__input-wrap {
  position: relative;
  display: block;
}

.feedback-form input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.feedback-form input,
.feedback-form__comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.feedback-form input:focus, .feedback-form input:hover,
.feedback-form__comment:focus,
.feedback-form__comment:hover {
  outline: none;
  border: 1px solid var(--accent-color);
}

.feedback-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-color);
  pointer-events: none;
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.feedback-form input:focus + .feedback-form__icon,
.feedback-form input:hover + .feedback-form__icon {
  fill: var(--accent-color);
}

.feedback-form__textarea-field {
  margin-bottom: 20px;
}

.feedback-form__comment {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.feedback-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-form__checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.feedback-form__checkbox-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  background-color: inherit;
}

.feedback-form__checkbox:focus + .feedback-form__checkbox-box,
.feedback-form__checkbox:hover + .feedback-form__checkbox-box {
  border: 2px solid var(--accent-color);
}

.feedback-form__checkbox:checked + .feedback-form__checkbox-box {
  border: 2px solid transparent;
  background-color: var(--accent-color);
}

.feedback-form__icon-check-mark {
  fill: transparent;
}

.feedback-form__checkbox:checked + * .feedback-form__icon-check-mark {
  fill: var(--secondary-text-color);
}

.feedback-form__agreement-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.feedback-form__send-button {
  display: block;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-menu__item .link,
.header__contacts-item .link {
  display: block;
  padding-top: 32px;
  font-weight: var(--font-weight-middle);
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.main-menu__item:not(:last-child),
.header__contacts-item:not(:last-child) {
  margin-right: 50px;
}

.main-menu__item .link:focus, .main-menu__item .link:hover {
  outline: none;
  color: var(--accent-color);
}

.main-menu__item .link::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: var(--accent-color);
  border-radius: 2px;
  content: "";
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.main-menu__item .link:focus::after, .main-menu__item .link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.accent,
.active-link {
  color: var(--accent-color);
}

.active-link.link::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__contacts-list {
  margin-left: auto;
}

.header__contacts-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.header__contacts-item .link {
  padding-bottom: 32px;
  color: currentColor;
  fill: currentColor;
}

.header__contacts-item .link:focus, .header__contacts-item .link:hover {
  outline: none;
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer-contacts {
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts__location {
  margin-bottom: 6px;
  color: var(--secondary-text-color);
}

.footer-contacts__mail,
.footer-contacts__tel {
  display: block;
  color: var(--transparent-text-color);
}

.footer-contacts__mail:focus, .footer-contacts__mail:hover,
.footer-contacts__tel:focus,
.footer-contacts__tel:hover {
  outline: none;
  color: var(--accent-color);
}

.footer-contacts__mail {
  margin-bottom: 6px;
}

.footer__contacts-wrap {
  margin-right: 70px;
}

.footer__social-wrap {
  margin-right: 93px;
}

.footer__appeal {
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer__subscribe-form-wrap {
  min-width: 570px;
}

#footer-form-mail {
  width: 358px;
  margin-right: 10px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

#footer-form-mail::-webkit-input-placeholder {
  color: var(--transparent-text-color);
}

#footer-form-mail:-ms-input-placeholder {
  color: var(--transparent-text-color);
}

#footer-form-mail::-ms-input-placeholder {
  color: var(--transparent-text-color);
}

#footer-form-mail::placeholder {
  color: var(--transparent-text-color);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.subscribe-button svg {
  margin-left: 10px;
}

.feature__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  margin: 15px;
}

.feature__item svg {
  text-align: center;
}

.feature__icon-wrap {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature__subtitle {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.competence {
  padding-bottom: 94px;
}

.competence__item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin: 15px;
}

.competence__kind {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: var(--font-weight-bold);
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__member {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  margin: 15px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__member-image {
  margin-bottom: 30px;
}

.team__member-name {
  margin-bottom: 10px;
  font-weight: var(--font-weight-middle);
  font-size: var(--title-font-size);
  line-height: 1.192;
}

.team-member .paragraph {
  margin-bottom: 16px;
}

.clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  -ms-flex-preferred-size: 170px;
      flex-basis: 170px;
  margin: 15px;
  height: 90px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}

.clients__link:focus, .clients__link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: var(--font-weight-middle);
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
}

.filter-button:focus, .filter-button:hover {
  outline: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.projects__item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin: 15px;
  outline: var(--border-color) solid 1px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.projects__item .link {
  display: block;
}

.projects__item .link:focus, .projects__item .link:hover {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}

.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--secondary-text-color);
  background-color: var(--project-overlay-color);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: var(--basic-transform-animation);
  transition: var(--basic-transform-animation);
}

.projects__item .link:focus .projects__overlay,
.projects__item .link:hover .projects__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects__content {
  padding: 20px 24px;
}

.projects__name {
  margin-bottom: 4px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__type {
  font-size: var(--title-font-size);
  line-height: 1.875;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */